body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:40px;
}
#u4380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4381_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1544px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:0px;
  width:1544px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4382_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4382_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#FFFFFF;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(38, 56, 73, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:1540px;
  top:6px;
  width:240px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u4382 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4382_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:28px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u4382.disabled {
}
.u4382_input_option {
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:1789px;
  top:8px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u4383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:1822px;
  top:8px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u4384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:1855px;
  top:8px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u4385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:1888px;
  top:8px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u4386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:54px;
  height:40px;
  display:flex;
  transition:none;
}
#u4387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:40px;
}
#u4387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:0px;
  width:290px;
  height:40px;
}
#u4388_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:40px;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u4390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:40px;
}
#u4390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4391_img.mouseOver {
}
#u4391.mouseOver {
}
#u4391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u4392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4392_img.mouseOver {
}
#u4392.mouseOver {
}
#u4392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:110px;
  top:40px;
  width:130px;
  height:330px;
  visibility:hidden;
}
#u4393_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:330px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:330px;
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u4395_img.mouseOver {
}
#u4395.mouseOver {
}
#u4395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4396_img.mouseOver {
}
#u4396.mouseOver {
}
#u4396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4397_img.mouseOver {
}
#u4397.mouseOver {
}
#u4397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:130px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4398_img.mouseOver {
}
#u4398.mouseOver {
}
#u4398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4399_img.mouseOver {
}
#u4399.mouseOver {
}
#u4399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4400 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4400_img.mouseOver {
}
#u4400.mouseOver {
}
#u4400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:250px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4401_img.mouseOver {
}
#u4401.mouseOver {
}
#u4401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:290px;
  width:130px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:40px;
}
#u4402_img.mouseOver {
}
#u4402.mouseOver {
}
#u4402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:104px;
  height:120px;
  visibility:hidden;
}
#u4403_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:120px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:120px;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u4405_img.mouseOver {
}
#u4405.mouseOver {
}
#u4405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:104px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4406 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u4406_img.mouseOver {
}
#u4406.mouseOver {
}
#u4406_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:104px;
  height:40px;
  display:flex;
  transition:none;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:40px;
}
#u4407_img.mouseOver {
}
#u4407.mouseOver {
}
#u4407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4408 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:40px;
  width:90px;
  height:40px;
  visibility:hidden;
}
#u4408_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  display:flex;
  transition:none;
  color:#000000;
  text-align:left;
}
#u4410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4410_img.mouseOver {
}
#u4410.mouseOver {
}
#u4410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:110px;
  height:282px;
  visibility:hidden;
}
#u4411_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:282px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:282px;
}
#u4413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4413 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4413_img.mouseOver {
}
#u4413.mouseOver {
}
#u4413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:47px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4414_img.mouseOver {
}
#u4414.mouseOver {
}
#u4414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4415 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4415_img.mouseOver {
}
#u4415.mouseOver {
}
#u4415_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:141px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4416_img.mouseOver {
}
#u4416.mouseOver {
}
#u4416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:188px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4417_img.mouseOver {
}
#u4417.mouseOver {
}
#u4417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:235px;
  width:110px;
  height:47px;
  display:flex;
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
  text-align:left;
}
#u4418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:47px;
}
#u4418_img.mouseOver {
}
#u4418.mouseOver {
}
#u4418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4419 {
  border-width:0px;
  position:absolute;
  left:165px;
  top:8px;
  width:24px;
  height:24px;
  display:flex;
  transition:none;
}
#u4419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u4419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:1920px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#077BD5;
  text-align:center;
}
#u4421 {
  border-width:0px;
  position:absolute;
  left:1295px;
  top:42px;
  width:21px;
  height:24px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#077BD5;
  text-align:center;
}
#u4421 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4422_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4422_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4422 {
  border-width:0px;
  position:absolute;
  left:1326px;
  top:46px;
  width:106px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4422 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4422_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4422.disabled {
}
.u4422_input_option {
}
#u4423_input {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4423_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4423 {
  border-width:0px;
  position:absolute;
  left:1432px;
  top:46px;
  width:136px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4423 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4423_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4423.disabled {
}
.u4423_input_option {
}
#u4424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4424_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4424_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4424_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:1594px;
  top:46px;
  width:207px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4424 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4424_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4424.hint {
}
#u4424_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4424.disabled {
}
#u4424_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:207px;
  height:29px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4424.hint.disabled {
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:1762px;
  top:51px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u4425 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4425_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:1799px;
  top:46px;
  width:43px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4426 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4426_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:1568px;
  top:46px;
  width:26px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4427 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4427_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:1813px;
  top:51px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u4428 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u4428_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4429_input {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4429_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:1782px;
  top:50px;
  width:15px;
  height:18px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4429 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4429_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4429.disabled {
}
.u4429_input_option {
}
#u4430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:1848px;
  top:46px;
  width:64px;
  height:29px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u4430 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4430_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  color:#0579D5;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:26px;
  width:9px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  color:#0579D5;
}
#u4432 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4432_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  color:#0579D5;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:34px;
  width:9px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  color:#0579D5;
}
#u4433 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4433_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:30px;
  color:#0579D5;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:1572px;
  top:41px;
  width:9px;
  height:28px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:30px;
  color:#0579D5;
}
#u4434 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4434_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#000000;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:52px;
  width:28px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#000000;
}
#u4435 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4435_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:74px;
  width:98px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.3565907726219946deg);
  -moz-transform:rotate(-0.3565907726219946deg);
  -ms-transform:rotate(-0.3565907726219946deg);
  transform:rotate(-0.3565907726219946deg);
  transition:none;
  color:#0078D6;
}
#u4436 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4436_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:101px;
  height:5px;
}
#u4436_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:49px;
  width:1px;
  height:22px;
  display:flex;
  transition:none;
}
#u4437 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4437_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#177BD5;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:52px;
  width:98px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#177BD5;
}
#u4438 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4438_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:175px;
  top:49px;
  width:1px;
  height:22px;
  display:flex;
  transition:none;
}
#u4439 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:23px;
}
#u4439_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1038px;
  width:1920px;
  height:42px;
  display:flex;
  transition:none;
}
#u4440 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:42px;
}
#u4440_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:1920px;
  height:830px;
  display:flex;
  transition:none;
}
#u4441 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:830px;
}
#u4441_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:831px;
  width:1920px;
  height:207px;
  display:flex;
  transition:none;
}
#u4442 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:207px;
}
#u4442_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
